<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include partials/links%>
    <title><%=titulo%></title>
</head>

<body>
   
    <form action="login/LogIn" method="POST">
        <input type="text" name="usuario" placeholder="Username" required>
        <input type="password" name="contrasena" placeholder="Password" required>
        <input type="submit">
    </form>
    <% include partials/footer %>
</body>

</html>